{
  "settings": {
    "sshKeyLocation": "",
    "localDomainExtension": ".development",
    "elasticsearchPort": "9200",
    "databaseLocation": "/Users/username/Databases",
    "adminUsername": "username",
    "adminPassword": "Magento2!"
  }
}